.tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
  }

  .next-step {
    margin-top: 20px;
  }

  .ordersummary-btn {
text-align: center;
  }

  .error {
    color: red;
    display: none;
}
.required::after {
    content: ' *';
    color: red;
}
.nav-link.disabled {
    pointer-events: none;
    cursor: not-allowed;
color: #06BBCC !important;
}